.App {
  text-align: center;
}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.welcome {
  width: 35%;
  text-align: left;
}

.home-btn {
  background-color: aquamarine;
  font-size: 1em;
  padding: 2%;
  margin-right: 0.5vw;
}

.home-btn:hover {
  background-color: aqua;
}

.park-card {
  width: 25%;
  height: 25%;
  margin: 1rem;
  padding: 1rem;
  border: 3px dashed black;
}

.park-card img {
  width: 100%;
  height: auto
}

.park-portal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
}
