.App {
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin-right: 1rem;
}

.homepage {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.welcome {
  width: 35%;
  text-align: left;
  padding: 2rem;
}

.welcome h1 {
  font-size: 3rem;
}

.welcome p {
  font-size: 1.2rem;
}

.home-btn {
  background-color: aquamarine;
  border: solid black;
  font-size: 1em;
  padding: 2%;
  margin-right: 0.5vw;
  transition: all 0.3s ease 0s;
}

.home-btn:hover {
  background-color: rgba(253, 149, 201, 0.503);
}

.park-card {
  width: 300px;
  height: 330px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(255, 199, 252, 0.503);
  border: 4px solid hsl(0, 0%, 90%);
  border-color: rgba(198,166,203, 0.25);
  transition: all 0.3s ease 0s;
}

.park-card:hover {
  background-color: rgba(253, 149, 201, 0.503);
  width: 315px;
  height: 345px;
}

.park-card img {
  width: 100%;
  height: 600%;
  object-fit: cover;
  border: solid hsl(0, 0%, 90%);
}

.park-portal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.my-parks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.my-parks-container {
  padding: 2rem;
}

.not-visited {
  background-color: aquamarine;
  border: solid black;
  font-size: 0.75em;
  padding: 1%;
  margin-top: 1vw;  
}

.not-visited:hover {
  background-color: #24B28B;
}

.visited {
  background-color: azure;
}

.visted:hover {
  background-color: grey;
}

@media all and (max-width: 480px) {
  .homepage {
    display: inline-block;
    padding: 0px;
  }

  .welcome {
    width: 100%;
  }
}