body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins Medium";
}

li {
  font-family: "Roboto";
  font-size: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: aquamarine;
  border-bottom: 4px solid hsl(0, 0%, 90%);
  border-color: #24B28B
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

.nav-bar {
  list-style: none;
  
}

.nav-bar li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 1.5em;
}

.nav-bar li a {
  transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
  color: #FD95C9
}

.parks-container-screens {
  display: flex;
  height: 100%;
  width: 100%
}

.left-screen {
  height: 100%;
  flex: 33;
  display: inline-block;
  background-color: rgba(255, 199, 252, 0.503);
  border-right: 4px solid hsl(0, 0%, 90%);
  border-bottom: 4px solid hsl(0, 0%, 90%);
  border-color: rgba(198,166,203, 0.25)
}

.expand-btn {
  background-color: aquamarine;
  border: solid black;
  font-size: 1em;
  height: 100px;
  width: 27px;
}

.expand-btn:hover {
  background-color: #24B28B;
}

.right-screen {
  height: 100%;
  flex: 67;
  padding: 2rem;
}

.search-fields {
  padding: 1rem;
}

.filter-bar {
  width: 70%;
  /* background-color: aquamarine; */
  border: solid black;
  font-size: 1em;
}

.dropdown {
  /* background-color: aquamarine; */
  border: solid black;
  font-size: 1em;
}

.filter-bar-div {
  padding: 1rem;
}

.dropdown.div {
  padding: 1rem;
}

.new-park-form {
  box-sizing: border-box;
  padding: 2rem;
}

.basic-form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.transit-form-render {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.subway-options {
  text-align: left;
  display: inline-block;
}

.subway-header {
  padding-top: 2rem;
  text-align: left;
}

.form-button-div {
  padding: 2rem;
}

.form-header {
  padding: 2rem;
}

.form-btn {
  background-color: aquamarine;
  border: solid black;
  font-size: 1em;
  padding: 2%;
  margin-right: 0.5vw;
}

.form-btn:hover {
  background-color: #24B28B;
}

#drop-down {
  margin: 1rem;
}

.parkDetails {
  display: flex;
  height: 99vh;
  width: 100%;
}

.left-panel {
  height: 100%;
  flex: 40;
  display: inline-block;
  padding: 2rem;
}

.right-panel {
  height: 100%;
  flex: 60;
  padding: 2rem;
}

.right-panel img {
  width: 100%;
}

.park-basics {
  padding: 2rem;
}

.transit {
  padding: 2rem;
}

.features {
  padding: 2rem;
}

.park-content {
  text-align: left;
}

.subway {
  display: inline-block;
  padding: 0px 7px;
}

.subway-icon {
  height: 25px;
  width: 25px;
}

.bus {
  list-style: none;
}

.bus li {
  display: inline-block;
  padding: 0px 7px;
}

.ferry {
  list-style: none;
}

.ferry li {
  display: inline-block;
  padding: 0px 7px;
}


/* @media all and (max-width: 480px) {

} */



