body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: aquamarine
}

a {
  text-decoration: none;
  color: black;
}

.nav-bar {
  list-style: none;
}

.nav-bar li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-bar li a {
  transition: all 0.3s ease 0s;
}

.nav-bar li a:hover {
  color: blue;
}

.parks-container-screens {
  display: flex;
  height: 99vh;
  width: 100%
}

.left-screen {
  /* border: 1px solid red; */
  height: 100%;
  flex: 30;
  display: flex;
  flex-wrap: wrap;
}

.right-screen {
  border: 1px solid blue;
  height: 100%;
  flex: 70;
  padding: 2rem;
}

.new-park-form {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background-color: hsl(0, 0%, 100%);
  border: 4px solid hsl(0, 0%, 90%);
  gap: 2rem;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form-button {
  padding: 2rem;
}

.form-header {
  padding: 2rem;
}


/* @media all and (max-width: 480px) {

} */



