.slider-container {
    width: 65vw;
    height: 75vh;
    border: 4px solid hsl(0, 0%, 90%);
    border-color: #24B28B;
    overflow: hidden
}

.current-slide {
    position: relative;
    width: 65vw;
    height: 75vh;
}

.current-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.current-slide h1 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 3.5rem;
    color:  rgb(246, 118, 182);
    text-shadow: 3px 3px  black;
}